@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Golos Text", sans-serif;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
